@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #8f0020;
  --color-primary-container: #bc002d;
  --color-on-primary: #ffffff;
  --color-secondary: #3c6934;
  --color-secondary-container: #baedab;
  --color-secondary-fixed: #bdf0ad;
  --color-on-secondary: #ffffff;
  --color-surface: #fbf9f5;
  --color-surface-container: #efeeea;
  --color-surface-container-low: #f5f3ef;
  --color-surface-container-high: #eae8e4;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #1b1c1a;
  --color-on-surface-variant: #5c403f;
  --color-tertiary-fixed: #d5e3ff;
  --color-on-tertiary-fixed-variant: #2d476d;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Be Vietnam Pro", sans-serif;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

.signature-gradient{
  background: linear-gradient(45deg, #8f0020 0%, #bc002d 100%);
}

.material-symbols-outlined{
  font-variation-settings: 'FILL' 0, 'wght', 'GRAD' 0, 'opsz' 24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
